* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#taskbar {
	margin-top: 6px;
	border-radius: 12px 12px 0px 0px;
	padding: 0px 4px;
}

#taskbar button {
	border-radius: 0px;
	margin: 0px 4px 6px 4px;
	padding: 0px 2px;
	border-bottom: 2px solid #9ccfd8;
}

#taskbar button.active {
	border-bottom: 2px solid #dc8add;
}

#taskbar button.minimized {
	border-bottom: 2px solid #f6c177;
}

#taskbar button:hover{
	background-color: #c4a7e7;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #abe9b3;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #1a1826;
	background: #fae3b0;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #b5e8e0;
}

#battery.charging, #battery.plugged {
	color: #161320;
	background-color: #b5e8e0;
}

@keyframes blink {
	to {
		background-color: #bf616a;
		color: #b5e8e0;
	}
}


#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #89dceb;
	background: #161320;
}
